/* login.css */

/* Centralizar o formulário verticalmente e horizontalmente */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilizar o formulário */
.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    /* Adicionar espaçamento entre elementos */
    .login-form input,
    .login-form label {
        margin: 10px 0;
    }

/* Estilizar o botão de login */
.login-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

    .login-button:hover {
        background-color: #0056b3;
    }
